.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: transparent;
    padding: .5rem 1rem;

    color: var(--white-shade);
    font-family: var(--font-fira-code);
    font-size: 1rem;
    font-weight: 500;
    word-wrap: break-word;

    cursor: pointer;
}


