.contactcard_wrapper {
    padding: 1rem;
    border: 1px solid var(--gray-shade);

    font-size: 1rem;
    word-wrap: break-word;
}

.contactcard_wrapper p {
    color: var(--white-shade);
    font-weight: 600;
}

.contactcard_wrapper ul {
    margin-top: 1rem;
    color: var(--gray-shade);
    font-weight: 400;

    list-style-type: none;
}

.contactcard_wrapper ul li {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 0.3rem;
    margin-top: .3rem;
    transition: all .3s ease-in-out;
}

.contactcard_wrapper ul li:hover {
    color: var(--white-shade);
    transition: all .3s ease-in-out;
}

.contactcard_wrapper ul li span {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

@media (max-width: 620px) {
    .contactcard_wrapper {
        padding: 0;
    }
}

@media (max-width: 300px) {
    .contactcard_wrapper ul li span {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .contactcard_wrapper {
        word-break: break-all;
    }

}