.projectsgrid_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projectsgrid_headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectsgrid_headers>div:nth-of-type(1) {
    width: 70%;
}

.projectsgrid_headers button {
    border: none;
    background: transparent;
    cursor: pointer;

    color: var(--white-shade);
    font-size: 1rem;
    font-family: var(--font-fira-code);
    font-weight: 500;
    word-wrap: break-word;
}

.projects_grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}