.projectsgrid_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projectsgrid_headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectsgrid_headers>div:nth-of-type(1) {
    width: 70%;
}

.projectsgrid_headers button {
    border: none;
    background: transparent;
    cursor: pointer;

    color: var(--white-shade);
    font-size: 1rem;
    font-family: var(--font-fira-code);
    font-weight: 500;
    word-wrap: break-word;

    display: flex;
    align-items: center;
    gap: .3rem;
    transition: all .3s ease-in-out;
}

.projectsgrid_headers button img {
    padding: .1rem;
    border-radius: 50%;
}

.projectsgrid_headers button:hover img {
    animation: mooveRight .6s linear infinite alternate;
}

@keyframes mooveRight {
    from {
        transition: all .3s ease-in-out;
        translate: 0;
        background-color: transparent;
    }

    to {
        transition: all .3s ease-in-out;
        translate: 40%;
        background-color: var(--purple-shade);
    }
}

.projects_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    /* yea the line below is intentional */
    align-items: flex-start;
    /* align-items: stretch; */
    /* justify-content: center; */
}

@media (max-width: 710px) {
    .projects_grid {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .projectsgrid_headers>div:nth-of-type(1) {
        width: auto;
    }
}

@media (max-width: 450px) {
    .projectsgrid_headers button {
        font-size: .8rem;
    }
}