.hero_container {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
}

.text_content {
    max-width: 33.6rem;
}

.text_content p:nth-of-type(1) {
    color: var(--white-shade);
    font-size: 2rem;
    font-weight: 600;

    margin-top: 4.6rem;
}

.text_content p span {
    color: var(--purple-shade);
}

.text_content p:nth-of-type(2) {
    margin-top: 2rem;
    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;

    margin-bottom: 1.5rem;
}

.image_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
}

.images {
    position: relative;
}

.images img {
    display: block;
}

.images figure:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images figure:nth-of-type(1) img {
    z-index: 1;

    max-width: 457px;
    height: 386px;
}

.images figure:nth-of-type(2) {
    position: absolute;
    z-index: -1;

    top: 84px;
    right: 314px;

    max-width: 155px;
    height: 155px;
}

.images figure:nth-of-type(2) img {
    z-index: -1;

    width: 100%;
    height: 100%;
}

.images figure:nth-of-type(3) {
    position: absolute;
    z-index: 5;

    bottom: 56px;
    right: 16px;

    max-width: 84px;
    max-height: 84px;
}

.images figure:nth-of-type(3) img {
    z-index: 5;

    width: 100%;
    height: 100%;
}

.image_content p {
    padding: .5rem;
    max-width: 24rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .6rem;
    border: 1px solid var(--purple-shade);

    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: 500;
    word-wrap: break-word;
}

.image_content p span:nth-of-type(1) {
    width: 16px;
    height: 16px;
    background: var(--purple-shade);
}

.image_content p span:nth-of-type(2) {
    color: var(--white-shade);
    font-weight: 600;

    cursor: pointer;
}

@media (max-width: 900px) {
    .hero_container {
        flex-direction: column;
        align-items: center;
    }

    .text_content {
        max-width: 75%;
    }

    .text_content p:nth-of-type(1) {
        margin-top: 1.3rem;
    }

    .images figure:nth-of-type(1) img {
        align-items: center;

        max-width: 307px;
        width: 100%;
        height: 260px;
    }

    .images figure:nth-of-type(2) {
        max-width: 104px;
        width: 100%;
        height: 104px;

        top: 56.6px;
        right: 211.57px;
    }

    @media (max-width: 650px) {
        .text_content {
            max-width: 100%;
        }
    }
}