.desknav_container {
    padding: 0rem 1rem;
    background-color: var(--background-primary);
}

.desknav_content {
    max-width: var(--max-width);
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0 .5rem 0;

    /* background-color: brown; */
}

.navigation_links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation_links .path {
    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: 400;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navigation_links .activePath {
    font-weight: 500;
    color: var(--white-shade);
    transition: all .2s ease-in-out;
}

.navigation_links .path span {
    color: var(--purple-shade);
    font-weight: 500;
}

@media (max-width: 600px) {
    .desknav_content {

    }
}