.aboutmepreview_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.aboutmedesc_center { 
    align-items: flex-start;
}

.aboutmedesc_center .aboutme_desc {
    max-width: 39.3rem;
}

.aboutme_desc {
    max-width: 32.3rem;
}

.aboutme_desc>p {
    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    word-wrap: break-word
}

.aboutme_desc>p:nth-of-type(1) {
    margin-top: 1.4rem;
}

.aboutme_desc>p:nth-of-type(2) {
    margin-top: 1rem;
    /* margin-bottom: 1.7rem; */
}

.aboutme_desc>p:nth-of-type(3) {
    margin-top: 1rem;
   
}

.aboutme_desc>p:nth-of-type(4) {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

.aboutme_desc>p:nth-of-type(5) {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

.aboutme_desc>p:nth-of-type(6) {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

.aboutme_images {
    position: relative;
}

.aboutme_images figure:nth-of-type(1) {
    border-bottom: solid 1px var(--purple-shade);
    display: block;
}

.aboutme_images figure:nth-of-type(1) img {
    display: block;
}

.aboutme_images figure:nth-of-type(2) {
    position: absolute;
    top: 50px;
    left: 0;
}

.aboutme_images figure:nth-of-type(3) {
    position: absolute;
    right: 16px;
    bottom: 172px;
}