.home_container {
    max-width: var(--max-width);
    margin: auto; 

}

.hero_section {
    margin-top: 7.7rem;
}

.quote_section {
    margin-top: 7rem;
    
    display: flex;
    justify-content: center;
}

.projectpreview_section {
    margin-top: 4.6rem;  
}

.skillspreview_section {
    margin-top: 6.6rem;
}

.aboutmepreview_section {
    margin-top: 7rem;
}

.contactpreview_section {
    margin-top: 7rem;
    margin-bottom: 9.06rem;
}
